
      <mat-accordion multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Financeiro</mat-panel-title>
            <mat-panel-description class="justify-content-end">
              <mat-icon fontIcon="account_balance"></mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
      
          <!--  <button mat-button class="w-100" [routerLink]="['/admin/vendaveiculo']">
              <div class="d-flex flex-row justify-content-between w-100 align-itens-center">
               
                  <div>Vender Veículo</div>
                  <mat-icon color="primary">directions_car</mat-icon>
              
              </div>
            </button> -->
      
          <!--  [routerLink]="['/admin/historicooperacoes']" -->
          <button mat-button class="w-100 menuButton">
            <div class="d-flex justify-content-between m-2">
              <span>Históricos Operações</span>
              <mat-icon class="text-success" fontIcon="request_quote"></mat-icon>
            </div>
          </button>
      
          <!-- [routerLink]="['/admin/formaspagamento']" -->
          <button mat-button class="w-100 menuButton">
            <div class="d-flex justify-content-between m-2">
              <span>Formas de Pagamento</span>
              <mat-icon class="text-success" fontIcon="payments"></mat-icon>
            </div>
          </button>
      
          <!--  [routerLink]="['/admin/receber']" -->
          <button mat-button class="w-100 menuButton">
            <div class="d-flex justify-content-between m-2">
              <span>Contas à Receber</span>
              <mat-icon class="text-success" fontIcon="paid"></mat-icon>
            </div>
          </button>
      
          <!-- [routerLink]="['/admin/pagar']" -->
          <button mat-button class="w-100 menuButton">
            <div class="d-flex justify-content-between m-2">
              <span>Contas à Pagar</span>
              <mat-icon color="warn" fontIcon="paid"></mat-icon>
            </div>
          </button>
      
          <!--  [routerLink]="['/admin/meusbancos']" -->
          <button mat-button class="w-100 menuButton">
            <div class="d-flex justify-content-between m-2">
              <span>Meus Bancos</span>
              <mat-icon color="accent" fontIcon="account_balance"></mat-icon>
            </div>
          </button>
      
          <!-- [routerLink]="['/admin/bancos']" -->
          <button mat-button class="w-100 menuButton">
            <div class="d-flex justify-content-between m-2">
              <span>Lista de Bancos</span>
              <mat-icon class="text-success" fontIcon="account_balance"></mat-icon>
            </div>
          </button>
        </mat-expansion-panel>
      </mat-accordion>
      