<mat-toolbar>
  <button mat-icon-button class="tool-icon">
    <mat-icon
      (click)="drawer.toggle()" 
      fontIcon="menu"
      style="color: #ffffff"></mat-icon>
  </button>

  <span>{{ AppName }}</span>

  <span class="tool-spacer"></span>
  <button mat-icon-button class="tool-icon">
    <mat-icon fontIcon="facebook" style="color: #ffffff"></mat-icon>
  </button>
  <button
    mat-icon-button
    class="tool-icon"
    [routerLink]="['/admin']"
    routerLinkActive="router-link-active">
    <mat-icon fontIcon="admin_panel_settings" style="color: #ffffff"></mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="home-container" autosize>
  <mat-drawer #drawer class="sidebar-sidenav" mode="side"> 

    <button mat-button class="w-100 menuButton" [routerLink]="['/admin/dashboard']">
      <div class="d-flex justify-content-between m-2">
        <div class="ps-2">Dashboard</div>
        <div>
          <mat-icon color="warn" class="text-primary" fontIcon="space_dashboard"></mat-icon>
        </div>
      </div>

    </button>


    <!-- <app-accordion-management></app-accordion-management>
    <app-accordion-financial></app-accordion-financial>
    <app-accordion-config></app-accordion-config> -->
      

  </mat-drawer>

  <div>
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>











